h1{
    margin: 0 0 6px 0;
    width: 450px;
    position: relative;
}

body{
    background: url("../Images/bg.jpg");
}
div.main{
    margin: 20px auto 60px;
    width:865px;
    height:1000px;
    background-color: rgb(113, 131, 173);
    border: 7px solid rgb(28, 48, 66);
    
}

button {
    background-color: #1ba099;
    /* margin-top:5px; */
    border: 2px;
    color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    border-radius: 16px;
    /* float:right; */
    /* left: 500px; may need to make this inline because every game's title is different in length */
}

.border{
    margin: 40px auto 60px;
     width:830px;
     outline-color: black;
     outline-style: double;
     outline-offset: 0px;
     background-color: rgb(120, 156, 189);
 }

button:hover{
    color:yellow;
    cursor: pointer;
}

img{
    height:500px;
    width: 860px;
    float:left;
    margin:30px 0 20px 0;
}

dt.info{
    padding: 0 26px 0 0;
    width: 500px;
    float: left;
    height: 250px;
    border-right: 2px solid rgb(0, 0, 0);
    margin: 0 50px 0 0;
}

dd.rating{
    font-size: 20px;
    margin: 0 0 6px 0;
    position: relative;
}
