*{
    font-family: sans-serif;
  }

#forms {
    margin: auto;
    width: 40%;
    border: 3px solid rgb(241, 240, 237);
    padding: 10px;
    float:right;
    margin: 0 30px 0 0;
}
#forms h1{
    color:rgb(245, 194, 26);
    font-family:'Courier New', Courier, monospace;
}
#forms label{
    color:rgb(241, 241, 238);
}
body{
    background-image: url('../Images/loginPhoto.jpg');
    background-size: 1920px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#blank{
    width:250px;
    height:250px;
}
#loginbutton{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
}
#loginbutton:hover{
  color:yellow;
  background-color: #6dcf71;
}
#registerbutton{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    
}
#registerbutton:hover{
    color:yellow;
    background-color: #6dcf71;
}
