

*{
    font-family: sans-serif;
  }
  
  body{
      background: linear-gradient(#5fbfff,#294e5f);
      height:100vh;  
  }
  
  /* { */
      .animation .boxes{
        z-index: -1;
      }
      .boxes{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
      }
      .boxes li{
          position: absolute;
          display: block;
          list-style: none;
          width: 25px;
          height: 25px;
          background: rgba(255,255,255,0.2);
          animation: animate 20s linear infinite;
          bottom: -150px;
      }
      .boxes li:nth-child(1){
          left:86%;
          width: 80px;
          height: 80px;
          animation-delay:0s;
      }
      .boxes li:nth-child(2){
          left:10%;
          width: 50px;
          height: 50px;
          animation-delay:1.5s;
          animation-duration: 10s;
      }
      .boxes li:nth-child(3){
          left:70%;
          width: 100px;
          height: 100px;
          animation-delay: 5.5s;
      }
      .boxes li:nth-child(4){
          left:42%;
          width: 150px;
          height: 150px;
          animation-delay:0s;
          animation-duration: 15s;
      }
      .boxes li:nth-child(5){
          left:65%;
          width: 35px;
          height: 35px;
          animation-delay:0s;
      }
      .boxes li:nth-child(6){
          left:18%;
          width: 110px;
          height: 110px;
          animation-delay:3.5s;
      }
      @keyframes animate{
          0%{
              transform:translateY(0) rotate(0deg);
              opacity: 1;
          }
          100%{
              transform:translateY(-800px) rotate(360deg);
              opacity: 1;
          }
      }
  /* } *//* Divinector. (2019, April 5). Animated Background with Pure CSS and Html | No Javascript no Jquery [Video]. Youtube. https://www.youtube.com/watch?v=5RoXCs54CN8 */


#searchbar{
  position: absolute;
  height: 200px;
  width: 100px;
}

#searchbar:hover {
  background-color: #3ab0e2;
  color:yellow;
}

#home{
  background-color: rgb(10, 118, 164);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 10px 0 0;
  cursor: pointer;
  float: left;
  border-radius: 16px;
}

#home:hover{
  background-color: #3ab0e2;
  color:yellow;
}

#searchbar{
  width: 100%;
  position: relative;
  display: flex;
}

#enter{
  background-color: #4CAF50;
  border: none;
  color: rgb(0, 0, 0);
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 0px 0px 0px 10px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 16px;
}

#error{
  color: rgb(241, 12, 12);
}