<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Game Library Manager</title>
  <link href="../CSS/style.css" rel="stylesheet" type="text/css" />
  <script src="../../JS/script.js"></script>
  <script src="../../JS/querylib.js"></script>
  <script src="../../JS/index.js"></script>
</head>

<body>

    <div id = "Topbuttons">

        {{!-- <form method="put">--}}
            <form action="/add" method="put"><button id="add" onclick = "addgame()">Add Game</button></form>
            <form action="/log-out" method="get"><button id="logout" onclick = "logout()">Log out</button></form>
           <form action='/view-profile' method="get"><button id="viewprofile" onclick = "viewprof()">View Profile</button></form>
        {{!-- </form> --}}
       
        <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
        <div id="main">
            <h1 style="text-align: center;">My Library</h1>
        </div>
    </div>
    <dd id="display">
        {{#each display}}
            <input type="image" src="../{{this.image1}}" id = 'games' onclick="getGame(&quot;{{this.title}}&quot;)" alt="{{this.title}}">
        {{/each}}

    </dd>

    <!-- Animated Background Boxes -->
    <div class="animation">
        <ul class="boxes">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    
</body>
</html>