<html>
    <head>
        <title>
            Login to the Game Manager
        </title>
        <script src="../JS/script.js"></script>
        <script src="../../JS/querylib.js"></script>
        <script src="../../JS/loginCheck.js"></script>
        <link rel="stylesheet" href="../../CSS/loginpage.css">

        <style>
            img{
                height: 300px;
                width: 300px;
            }
        </style>
    </head>
    <body>
        <div id="blank">

        </div>
        
        <center> 
        <div id ="forms">
            <h1>Welcome to the PCS Game Manager!</h1>
            <img src="../../Images/icon.png" alt="icon">
            <h1 class="headerlogin">Login to Game Manager</h1>

            <form action ="/login-post" method = "POST" style="margin:0 0 0 0">
                <label for="username">Username: </label>
                <input type="text" id="username" name ="username">
                <br><br>
                <label for="pass">Password: </label>
                <input type = "password" id="pass" name="pass">
                <br><br>
                <p id="error">{{errormsg}}</p>
                <br><br>
                <button id="loginbutton" type="submit">Login</button>
                
            </form>
            <center>
            <form action ="/register" method="GET">
                 <button id="registerbutton" type="submit"> Register</button>
            </form>
            </center>
            <br>
            <div style="position:relative;float:right;top:60px;">
                <a style="color:rgb(107, 252, 252); " href='https://www.freepik.com/psd/keyboard-mouse' target="_blank">Keyboard mouse psd created by Kerfin7 - www.freepik.com</a>
            </div>
        </div>
        </center> 
        <br>
        
    </body>
</html>